:root {
  --backgroundColor: #123;
  --color: "aaa";
}

body,
#app,
.navbar,
.navbar-light,
.slidearea,
.organizer-area,
.slidebtn,
button,
th,
td {
  background: var(--backgroundColor) !important;
}

div,
a,
button,
th,
td,
h2,
h3,
span {
  color: var(--color) !important;
}

#stickyheader .active {
  color: #3670c0 !important;
}

.selected-date {
  color: var(--backgroundColor) !important;
}
